[Desktop Entry]
Version=1.0
Name=German
StartupNotify=true
StartupWMClass=german
TryExec=brave
Exec=brave --enable-features=TouchpadOverscrollHistoryNavigation,UseOzonePlatform --ozone-platform=wayland --profile-directory=german
Terminal=false
Icon=/home/doctor/.local/share/icons/german.png
Type=Application
Categories=Network;WebBrowser;

