[Desktop Entry]
Version=1.0
Name=SillyTavern
StartupNotify=true
StartupWMClass=silly-tavern
TryExec=brave
Exec=brave --enable-features=TouchpadOverscrollHistoryNavigation,UseOzonePlatform --ozone-platform=wayland --profile-directory=chub --app=http://127.0.0.1:8000
Terminal=false
Icon=/home/doctor/.local/share/icons/silly-tavern.png
Type=Application
Categories=Network;WebBrowser;

