[Desktop Entry]
Version=1.0
Name=Spanish
StartupNotify=true
StartupWMClass=spanish
TryExec=brave
Exec=brave --enable-features=TouchpadOverscrollHistoryNavigation,UseOzonePlatform --ozone-platform=wayland --profile-directory=spanish
Terminal=false
Icon=/home/doctor/.local/share/icons/spanish.png
Type=Application
Categories=Network;WebBrowser;

